<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Sushi-App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active mx-3">
        <a class="nav-link text-white" href="#" (click)="handleLinkClick($event)">Home</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link text-white" href="#" (click)="handleLinkClick($event)">Menu</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link text-white" href="#" (click)="handleLinkClick($event)">Contact</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link text-white" data-bs-toggle="offcanvas" data-bs-target="#demo" href="#" (click)="handleLinkClick($event)">Panier
          <i class="bi bi-basket3-fill"></i>
        </a>
      </li>
    </ul>
  </div>

</nav>
<div class="offcanvas offcanvas-end offcanvas-fullscreen" id="demo">
  <div class="offcanvas-header">
    <h1>Mon Panier</h1>
    <button type="button" class="btn-close btn" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <ul>
      <li *ngFor="let sushi of sushis"></li>
      <h5 class="card-title"> {{sushis.nom}}</h5>

    </ul>
    <p>Some text lorem ipsum.</p>
    <p>Some text lorem ipsum.</p>
    <p>Some text lorem ipsum.</p>
  </div>
</div>

